/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

footer .icon:hover {
  background:white
  }
footer .facebook:hover {
    font: white;
    color:white;
    font-weight: extra-bold; 
  }
footer .twitter:hover {
    font: white;
    color:white;
    font-weight: extra-bold; 
  }
footer .instagram:hover {
  font: white;
  color:white;
  font-weight: extra-bold; 
}
footer .linked-in:hover {
  font: white;
  color:white;
  font-weight: extra-bold; 
}

.teammate-social-icons .facebook:hover {
  background-color:green;
  }
.teammate-social-icons .twitter:hover {
  background-color:green;
  }
.teammate-social-icons .linkedin:hover {
  background-color:green;
  }

@media (min-width: 1024px) {

/* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */
.trigram {
  display: none;
}

.top-navigation ul li a:hover {
  font: black;
  font-weight:bolder;
}

.teammates-list {
  display: flex;
  flex-direction: row;
  flex-wrap: no;
  width: 100%;
  overflow:auto;
}


}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */
@media  (max-width: 1023px) {
  .header-content {
    position:fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:100px ;
    width: 100%;
    border-bottom: 2px solid blue;
    padding: 20px;
    background-color:white;
  }

   .top-navigation ul {
    display:none;
  }

  .ul {
    display:none;
  }

  .portfolio-content {
    padding-top: 110px;
  }
  .portfolio-list {
    flex-direction: column;
  
  }

  .portfolio-item {
    flex-direction: row;
    width: 100%;
  }

  .teammates-content {
    padding-top: 60px;
    flex-direction:column;

  }
  .teammates-list {
    gap: 0px;
  }
  .teammates-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .teammate {
    display:flex;
    flex-direction: column; 
    width: 47%;
    margin: auto;
  }

  .teammate-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
  }
 /* .teammate-data {} */

  .teammate-info {
    text-align: center;
    margin-top: 10px;
  }

  .teammate-info h3 {
    font-size: 18px;
    color: #1f1f1f;
  }

  .teammate-info p {
    font-size: 14px;
    color: #969696;
  }

  .teammate-img-wrapper {
   width: 100%;
  }

  .teammate-social-icons {
    display: flex;
    justify-content: center;
  
  }

  .social-icons {
    gap: 0px;
    width: 50px;
  }

  .facebook span  {
    display: none;
  }  
  .twitter span  {
    display: none;
  } 
.instagram span  {
   display: none;
}
.linked-in span  {
   display: none;
}

  .footer-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
    flex-wrap:wrap;
  }

 .address {
    width: 100%;
    padding: 20px
  }
  .email {
    width: 100%;
    padding: 20px
  }
  phones {
    width: 100%;
    padding: 20px
  }
}
/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */
@media  (max-width: 767px) {
  .content h1, .content h2, .content p.subtext {
    display: flex;
    padding: 0px 0px;
    flex-wrap: wrap;
    width: 100%;
  }

  .section-info{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding:0 0;
  }
  .section-info h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;

  }

  .top-navigation ul li {
    width: auto;
    text-align: center;
  }

  .portfolio-list {
    display: flex;
    flex-direction: column;
  }

  .portfolio-item {
    flex-direction: column;
    width: 100%;
  }

  .portfolio-img-wrapper img {
    display:flex;
    justify-content: center;
    width: 100%;
  }

   .item-title {
    display:flex;
    justify-content: center;
    width: 100%;
  }

  .teammate-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .teammates-content {
    display:flex;
    flex-direction:column;
    padding: 0 0;
  }

  .teammates-list-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    width: 100%;

  }

  .teammate {
    display:flex;
    flex-direction: row; 
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;

  }

   .teammate-img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .teammate-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
  }
  .teammate-info {
    text-align: center;
    margin-top: 10px;
  }

  .teammate-social-icons
  {
    display: flex;
  
    justify-content: center;
  
  }
  footer .social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
    .facebook span  {
    display: block;
  }  
  .twitter span  {
    display: block;
  } 
  .instagram span  {
   display: block;
  }
  .linked-in span  {
   display: block;
  }

  .footer-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }
  .address {
    width: 100px;
  }
  .email {
    width: 100px;
  }
  phones {
    width: 100px;
  }
}
